.wrapper {
	width: 100%;
	height: 100vh;
	overflow-y: scroll !important;
}

.container {
	padding: 16px;
	padding-bottom: 84px;
}

.container-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	padding-top: 16px;
	padding-bottom: 8px;
}

.container-title__end {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}

.title {
	color: #010101;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -2%;
}

.container-collection {
	width: 100%;
	padding: 8px 0px;
}

.container-collection-image img {
	width: 100%;
}

.container-collection-image {
	position: relative;
}

.container-collection-image__apr {
	position: absolute;
	right: 16px;
	top: 16px;
	background-color: #007AFF;
	border-radius: 20px;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: white;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px 8px;
}

.container-collection-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	padding: 16px 0px;
}

.container-collection-title__text {
	color: #010101;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -2%;
}

.container-collection-title img {
	width: 24px;
	height: 24px;
}

.container-list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 8px 0;
	gap: 12px;
}

.container-list-item {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	align-items: center;
}

.container-list-item__number {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #010101;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	width: 24px;
	height: 24px;
	background-color: #FFFFFF;
	border-radius: 50%;
}

.container-list-item__text {
	color: #010101;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -2%;
}

.container-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	background-color: #007AFF;
	border-radius: 16px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -2%;
}

.graybutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;
	border: #007AFF solid 1px;
	border-radius: 16px;
	color: #007AFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -2%;
}

.container-input {
	padding-bottom: 8px;
}

.container-input-header {
	padding-left: 12px;
	padding-top: 13px;
	padding-bottom: 8px;
	color: #797D8D;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.container-input-input {
	display: flex;
	align-items: center;
	width: 100%;
}

.container-input-input input {
	width: 100%;
	height: auto;
	resize: vertical;
	text-align: left; 
	border: 0;
	outline: 0;
	font-family: 'SF UI Text', sans-serif;
	padding: 12px;
	border-radius: 14px;
}

::placeholder {
	color: #797D8D;
	font-weight: 400;
	font-size: 16px;
	font-family: 'SF UI Text', sans-serif;

}

.container-input-footer {
	padding-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #797D8D;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.container-comments {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container-comment {
	background-color: rgba(255, 255, 255, 1);
	padding: 12px 16px;
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 8px;
}

.container-comment-up {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.container-comment-up__text {
	color: rgba(1, 1, 1, 1);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -2%;
}

.container-comment-down {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	vertical-align: middle;
}

.container-comment-down__user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.container-comment-down__user-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-comment-down__user-name {
	color: rgba(1, 1, 1, 1);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.container-comment-down__date {
	color: rgba(121, 125, 141, 1);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.line {
	width: 100%;
	height: 0.5px;
	background-color: rgba(154, 154, 154, 0.2);
}